/.github
/components/params.mjs
/components/test-helper.mjs
/components/__fixture__.mjs
/components/*/index.mjs
/components/**/*.test.mjs
/coverage
/dist/bundles
/doc
/node_modules
/schema
/test
/tmp
/babel.config.json
/CONTRIBUTING.md
/REFERENCE.md

.*
!/components/*/*/.env
